<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moneye</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="../static/images/Screenshot%20(44).jpg" alt="Moneye logo" width="125px" ></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <button onclick="window.location.href='/'">Home</button>
                    <button onclick="window.location.href='/card'">Card</button>
                    <button onclick="window.location.href='/userload'">All User</button>
                    <button onclick="window.location.href='/profile'">User</button>
                    <button onclick="window.location.href='/currency'">Currency Exchange</button>
                    <button onclick="window.location.href='/product_details'">Detailed Joboffers</button>
                    <button onclick="window.location.href='/products'">Joboffers</button>
                </ul>
            </nav>
            <a href="cart.html"><img src="../static/images/ShoppingCart.jpg" alt="Cart" width="30px" height="30px"></a>
            <img src="" alt="Menu" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col">
                <h1>A Website To Earn<br> Easy Money!</h1>
                <p>Money isn't easy to earn, it gets even harder when you just don't have the time to work.<br>This Website will make it easy</p>
                <a onclick="window.location.href='/products'" class="btn">Explore now &#9755;</a>
            </div>
            <div class="col">
                <img src="../static/images/MoneyGetting.jpg" alt="People getting money">
            </div>
        </div>
    </div>
</div>
<!---------------------------------Categories---------------------------------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../static/images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg">
            </div>
            <div class="col-2">
                <img src="../static/images/Rock.jpg">
            </div>
            <div class="col-2">
                <img src="../static/images/Magnets.jpg">
            </div>
        </div>
    </div>

</div>

<!--------------------Products---------------->
<div class="small-container">
    <h2 class="title">Featured Offers</h2>
    <div class="row">
        <div class="col-3">
            <img src="../static/images/Figure-A2-Island-text-Neutral-version-English.jpg">
            <h4>Job Offer: Translation</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: Negotiable</p>
        </div>
        <div class="col-3">
            <a href="product-details.html"><img src="../static/images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg"></a>
            <a href="product-details.html"><h4>Job Offer: Mow my lawn</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 30€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Magnets.jpg">
            <h4>Product: Collection of Magnets</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 25€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Rock.jpg">
            <h4>Product: Giant Rock</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>Price: 123123123€</p>
        </div>
    </div>
    <h2 class="title">Latest Offers</h2>
    <div class="row">
        <div class="col-3">
            <img src="../static/images/Figure-A2-Island-text-Neutral-version-English.jpg">
            <h4>Job Offer: Translation</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: Negotiable</p>
        </div>
        <div class="col-3">
            <img src="../static/images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg">
            <h4>Job Offer: Mow my lawn</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 30€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Magnets.jpg">
            <h4>Product: Collection of Magnets</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 25€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Rock.jpg">
            <h4>Product: Giant Rock</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>Price: 123123123€</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="../static/images/Figure-A2-Island-text-Neutral-version-English.jpg">
            <h4>Job Offer: Translation</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: Negotiable</p>
        </div>
        <div class="col-3">
            <img src="../static/images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg">
            <h4>Job Offer: Mow my lawn</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 30€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Magnets.jpg">
            <h4>Product: Collection of Magnets</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 25€</p>
        </div>
        <div class="col-3">
            <img src="../static/images/Rock.jpg">
            <h4>Product: Giant Rock</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>Price: 123123123€</p>
        </div>
    </div>
</div>
<!--------------API-Based Offers------------>
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col">
                <img src="../static/images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" class="offer-img">
            </div>
            <div class="col">
                <p>This is the best offer for you:</p>
                <h1>Job Offer: Mow my lawn</h1>
                <small>Price: 30€</small>
                <br>
                <a href="">Accept now &#9755;</a>
            </div>
        </div>
    </div>
</div>

<!-----------testimonial-------------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <p>This website exceeded my expectations. It is well organized and responsive. I can even use it on my mobile devices</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="../static/images/Portrait.jpg" alt="Image of User">
                <h3>Max Mustermann</h3>
            </div>
        </div>
    </div>
</div>

<!------------footer------------>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android or IOS</p>
                <div class="app-logo">
                    <img src="" alt="AppstoreImage">
                    <img src="" alt="AppstoreImage">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="Screenshot%20(44).jpg" alt="Logo" width="125px">
                <p>Make Money fast and easy</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Moneye&Co.</p>
    </div>
</div>
<!------------------js toggle menu------------->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px";

    function menutoggle(){
        if (MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight == "0px"
        }
    }
</script>

</body>
</html>