<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - Moneye</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="Screenshot%20(44).jpg" alt="Moneye logo" width="125px" >
        </div>
        <nav>
            <ul id="MenuItems">
          <button onclick="window.location.href='/'">Home</button>
                    <button onclick="window.location.href='/card'">Card</button>
                    <button onclick="window.location.href='/userload'">All User</button>
                    <button onclick="window.location.href='/profile'">User</button>
                    <button onclick="window.location.href='/currency'">Currency Exchange</button>
                    <button onclick="window.location.href='/product_details'">Detailed Joboffers</button>
                    <button onclick="window.location.href='/products'">Joboffers</button>
            </ul>
        </nav>
        <img src="images/ShoppingCart.jpg" alt="Cart" width="30px" height="30px">
        <img src="" alt="Menu" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<!---------single product details---------------->
<div class="small-container single-product">
    <div class="row">
        <div class="col">
            <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" alt="product picture" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" alt="Angle 1" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" alt="Angle 2" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" alt="Angle 3" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg" alt="Angle 4" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="col">
            <p>Home / Job Offer</p>
            <h1>Mow my Lawn</h1>
            <h4>Price: 30€</h4>
            <a href="" class="btn">Accept Now</a>
            <h3>Details</h3>
            <br>
            <p>HELP! I need someone to maw my lawn!</p>
        </div>
    </div>
</div>

<!---------------title------------->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Offers</h2>
        <p>View More</p>
    </div>
</div>

<!-------------------- Related Offers---------------->
<div class="small-container">
    <div class="row">
        <div class="col-3">
            <img src="images/Figure-A2-Island-text-Neutral-version-English.jpg">
            <h4>Job Offer: Translation</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: Negotiable</p>
        </div>
        <div class="col-3">
            <img src="images/1db62bb2ce1c1c892fe88eb35d173c6b.jpg">
            <h4>Job Offer: Mow my lawn</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 30€</p>
        </div>
        <div class="col-3">
            <img src="images/Magnets.jpg">
            <h4>Product: Collection of Magnets</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Price: 25€</p>
        </div>
        <div class="col-3">
            <img src="images/Rock.jpg">
            <h4>Product: Giant Rock</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>Price: 123123123€</p>
        </div>
    </div>
</div>
<!------------footer------------>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android or IOS</p>
                <div class="app-logo">
                    <img src="" alt="AppstoreImage">
                    <img src="" alt="AppstoreImage">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="Screenshot%20(44).jpg" alt="Logo" width="125px">
                <p>Make Money fast and easy</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Moneye&Co.</p>
    </div>
</div>
<!------------------js toggle menu------------->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px";

    function menutoggle(){
        if (MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight == "0px"
        }
    }
</script>

<!-------------js for product gallery------------->
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    SmallImg[0].onclick = function (){
        ProductImg.src = SmallImg[0].src;
    }
    SmallImg[1].onclick = function (){
        ProductImg.src = SmallImg[1].src;
    }
    SmallImg[2].onclick = function (){
        ProductImg.src = SmallImg[2].src;
    }
    SmallImg[3].onclick = function (){
        ProductImg.src = SmallImg[3].src;
    }
</script>

</body>
</html>