<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title> User Index - Moneyo </title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/script.js"></script>
</head>
<body onload="loaduser()">
<nav>
            <ul id="MenuItems">
                    <button onclick="window.location.href='/'">Home</button>
                    <button onclick="window.location.href='/card'">Card</button>
                    <button onclick="window.location.href='/userload'">All User</button>
                    <button onclick="window.location.href='/profile'">User</button>
                    <button onclick="window.location.href='/currency'">Currency Exchange</button>
                    <button onclick="window.location.href='/product_details'">Detailed Joboffers</button>
                    <button onclick="window.location.href='/products'">Joboffers</button>
            </ul>
        </nav>
<h1>User</h1>
<table class="table">
  <thead>
    <tr>
        <th>Username</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
</table>
</body>
</html>